*.changes
crash.dmp
.filetree
/github-cache
github-*.zip
.gradle
gradle-local.properties
*.image
image.*
/package-cache
Pharo7*
Pharo8*
PharoDebug.log
pharo-local
/play-cache
/play-stash
*.so
SqueakDebug.log
